form('(ngSubmit)'='onSubmit(loginForm.value)' '[formGroup]'='loginForm')
  input#login-email(type='text' formControlName='email')
  input#login-password(type='password' formControlName='password')
  button(type='submit') Log In
